env.PATH = "$PATH:/opt/kaldi/egs/wsj/s5/steps:/opt/kaldi/egs/wsj/s5/utils:/opt/kaldi-offline-transcriber/utils:/opt/kaldi/src/bin:/opt/kaldi/tools/openfst/bin:/opt/kaldi/src/fstbin/:/opt/kaldi/src/gmmbin/:/opt/kaldi/src/featbin/:/opt/kaldi/src/lm/:/opt/kaldi/src/sgmmbin/:/opt/kaldi/src/sgmm2bin/:/opt/kaldi/src/fgmmbin/:/opt/kaldi/src/latbin/:/opt/kaldi/src/nnet2bin/:/opt/kaldi/src/online2bin/:/opt/kaldi/src/kwsbin:/opt/kaldi/src/lmbin:/opt/kaldi/src/ivectorbin:/opt/kaldi/src/nnet3bin:/opt/kaldi/src/rnnlmbin"