process.container = 'amackaro/est-asr-pipeline:aarch64'

params {
	acoustic_model = "cnn_tdnn_1d_online"
	nthreads = 2
	lm_scale = 10
	sid_similarity_threshold = 13
}

process.executor = 'local'
params.rootdir = "/opt/est-asr-pipeline"
env.KALDI_ROOT = "/opt/kaldi"
docker.enabled = true    

profiles {

    standard {
    }

    cluster {
        process.executor = 'sge'
        process.memory = '10GB'
        process.penv = 'smp'
    }

    nodocker {
        params.rootdir = "$projectDir"
        docker.enabled = false            
        
    }

}

