

process {
  container = 'alumae/est-asr-pipeline:0.2a'
  
  withLabel: with_gpu {
    maxForks = 1
    containerOptions = { 
      workflow.containerEngine == "singularity" ? '--nv': ( workflow.containerEngine == "docker" ? '--gpus "device=$CUDA_VISIBLE_DEVICES"' : null )       
    }
    clusterOptions = { 
      process.executor == "sge" ? '-l gpu=1': ( workflow.executor == "slurm" ? 'TODO': null )       
    }
  }
}

params {
	acoustic_model = "cnn_tdnn_1d_online"
	nthreads = 2
	lm_scale = 10
	sid_similarity_threshold = 13
}

process.executor = 'local'
docker.enabled = true    

params.rootdir = "/opt/est-asr-pipeline"
env.KALDI_ROOT = "/opt/kaldi"
env.FAIRSEQ_ROOT = "/opt/fairseq"    
env.ET_G2P_ROOT = "/opt/et-g2p"


profiles {

    standard {
    }

    sge {
        process.executor = 'sge'
        process.memory = '10GB'
        process.penv = 'smp'
    }
    
    slurm {
        process.executor = 'slurm'
        process.memory = '10GB'
    
    }

    nodocker {
        params.rootdir = "$projectDir"
        docker.enabled = false            
      
        env.KALDI_ROOT = "/home/tanel/tools/kaldi"
        env.FAIRSEQ_ROOT = "/home/tanel/tools/fairseq"
        env.ET_G2P_ROOT = "/home/tanel/devel/et-g2p"
        env.PATH = "/home/tanel/miniconda3/envs/kaldi-et/bin:$PATH"        
    }

}
